body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: hack ease-in-out 0.3s infinite;
}

@keyframes hack{
    from{
        background-color: rgb(255, 118, 118)
    }

    to{
        background-color: aqua;
    }
}